@media (max-width: 1200px){
    .navbar-nav {
        flex-direction: row;
    }
    a.nav-link {
        margin-left: 20px;
    }
    .collapse:not(.show) {
        display: flex;
    }
}
@media (max-width: 992px){
    .navbar-nav {
        display: block;
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
        background: rgb(255, 255, 255);
        opacity: 1;
        visibility: visible;
        padding-left: 12%;
        box-shadow: 0px 2px 2px #00000057;
    }
    img, svg {
        vertical-align: middle;
        width: 100%;
    }
    span.display-6.fw-semibold.d-inline-block.pt-5 {
        padding: 10px 0 !important;
        font-size: 30px;
    }
    .banner-section h1.display-1.py-4 {
        font-size: 45px;
    }
    .collapse:not(.show) {
        display: none;
    }
    /* input[type="checkbox"] {
        position: absolute;
        top: 31%;
        right: 8%;
        width: 50px;
        height: 38px;
        line-height: 50px;
        opacity: 1;
        pointer-events: none;
        cursor: pointer;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked ~ ul{
        display: block;
        opacity: 1;
        visibility: visible;
        height: 100%;
    } */

}